
<ul class="entry-list">
    {% for key, light in entities['light'].entities.items() %}
        <form method="POST" style="display: inline;">
            <li class="entry-item-small">
                <input type="hidden" name="service" value="{{ 'light.turn_off' if light.state.state == 'on' else 'light.turn_on' }}">
                <input type="hidden" name="entity_id" value="light.{{ key }}">
                <button type="submit" class="entry-button active">
                    
                    {% if light.state.state == 'on' %}
                        <img src="webfonts/regular.svg?id=lightbulb-on" class="entry-icon-large">
                    {% else %}
                        <img src="webfonts/regular.svg?id=lightbulb" class="entry-icon-large">
                    {% endif %}
                    <br><br>
                    {{ light.state.attributes.friendly_name }}<br>
                </button>
            </li>
        </form>
    {% endfor %}
</ul>
