
<style>
    .light-list {
        list-style-type: none;
        padding: 0;
    }
    .light-item {
        background-color: #fff;
        padding: 15px;
        margin: 10px 0;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .light-icon {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle; /* Aligns with text */
        margin-right: 0.3em; /* Adds spacing between icon and text */
    }
</style>

<ul class="light-list">

{% for key, light in entities['light'].entities.items() %}
    <li class="light-item">
    
    {% if light.state.attributes.device_class == 'temperature' %}
        <img src="svg/temperature-half.svg" class="light-icon">
    {% elif light.state.attributes.device_class == 'humidity' %}
        <img src="svg/droplet.svg" class="light-icon">
    {% elif light.state.attributes.device_class == 'power' %}
        <img src="svg/bolt.svg" class="light-icon">
    {% elif light.state.attributes.device_class == 'energy' %}
        <img src="svg/bolt.svg" class="light-icon">
    {% elif light.state.attributes.device_class == 'signal_strength' %}
        <img src="svg/signal.svg" class="light-icon">
    {% elif light.state.attributes.device_class == 'battery' %}
        <img src="svg/battery-full.svg" class="light-icon">
    {% endif %}
    <br>
    {{ light.state.attributes.friendly_name }}<br>
    <strong>{{ light.state.state }}</strong><br>
    </li>
{% endfor %}

</ul>
