<ul class="entry-list">
    {% for key, switch in entities['switch'].entities.items() %}
        <form method="POST" style="display: inline;">
            <li class="entry-item-small">
                <input type="hidden" name="service" value="{{ 'switch.turn_off' if switch.state.state == 'on' else 'switch.turn_on' }}">
                <input type="hidden" name="entity_id" value="switch.{{ key }}">
                {% if switch.state.state == 'on' %}
                    <button type="submit" class="entry-button active">
                        <img src="webfonts/regular.svg?id=toggle-on" class="entry-icon-large"><br>
                        {{ switch.state.attributes.friendly_name }}<br>
                    </button>
                {% else %}
                    <button type="submit" class="entry-button ">
                        <img src="webfonts/regular.svg?id=toggle-off" class="entry-icon-large"><br>
                        {{ switch.state.attributes.friendly_name }}<br>
                    </button>
                {% endif %}
            </li>
        </form>
    {% endfor %}
</ul>
