<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="60">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homeassistant Interactive ePaper</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	
	{% if page == None %}
		{% set page = menu[0].name %}
	{% endif %}

    <nav>
		{% for menu_entry in menu %}
			<a href="?page={{ menu_entry.name }}" class="{{'active' if page == menu_entry.name else '' }}"> <img src="{{ menu_entry.icon }}" class="icon-menu"> {{ menu_entry.name }} </a>
		{% endfor %}
	</nav>

	{% for menu_entry in menu %}
		{% if page == menu_entry.name %}
			{% for component in menu_entry.components %}
				{% include component %}
			{% endfor %}
		{% endif %}
	{% endfor %}

</body>