<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="60">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Homeassistant Interactive ePaper</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="css/all.min.css">
<style>
body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 20px;
}
</style>
</head>
<body>
    {% include 'menu.html' %}
    {% include 'pages/' + page + '.html' %}
</body>