/* *****************************************
					BODY 
***************************************** */

body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 20px;
}

/* *****************************************
					MENU 
***************************************** */

nav {
    padding: 15px;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 5px 5px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
}

/* Adding active style for a better UX */
nav a.active {
    background-color: #dfdede;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.icon-menu {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-right: 0.3em;
}

/* *****************************************
					ENTRY 
***************************************** */

.temperature-controls {
  display: table;
  margin: 20px auto;
}

.temperature-controls td {
  padding: 0 10px;
}

.temperature {
  font-size: 2em;
  min-width: 60px;
}

.entry-button {
	opacity: 0.2;
	border: none; /* Removes the border */
	background: none; /* Removes the background */
	box-shadow: none; /* Removes any shadow */
    cursor: pointer;
    text-align: inherit;
}

.entry-button.active {
	opacity: 1;
}

.entry-list {
    text-align: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.entry-item-medium,
.entry-item-small {
	display: inline-block;
	background-color: #fff;
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	vertical-align: top;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.entry-item-small {
	width: 129px;
	height: 100px; /* Set a fixed height for uniform box sizes */
}

.entry-item-medium {
	width: 300px;
}

.entry-icon-small {
	width: 1.5em;
	height: 1.5em;
    padding: 0.4em;
}

.entry-icon-medium {
	width: 2.5em;
	height: 2.5em;
    padding: 0.5em;
}

.entry-icon-large {
	width: 3.5em;
	height: 3.5em;
    padding: 0.6em;
}

.entry-state {
	text-align: center;
	line-height: 1.2em;
	font-size: 1.2em;
}

.entry-state img {
	vertical-align: middle; /* Aligns image with text */
}