.temperature-controls {
  display: table;
  margin: 20px auto;
}

.temperature-controls td {
  padding: 0 10px;
}

.temperature {
  font-size: 2em;
  min-width: 60px;
}

.entry-button {
	width: 2.5em;
	height: 2.5em;
	padding: 0.3em;
	opacity: 0.2;
	border: none; /* Removes the border */
	background: none; /* Removes the background */
	box-shadow: none; /* Removes any shadow */
}

.entry-button img {
	width: 2em; /* Adjust as needed to fit within button */
	height: 2em; /* Adjust as needed to fit within button */
	display: block; /* Removes extra spacing around images */
}

.entry-button.active {
	opacity: 1;
}

/* Entries */
.entry-list {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap; /* Allows items to wrap onto the next line */
	gap: 10px; /* Adds spacing between items */
	justify-content: center; /* Center-aligns items */
}

.entry-item-medium,
.entry-item-small {
	display: inline-block;
	background-color: #fff;
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	vertical-align: top;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.entry-item-small {
	width: 129px;
	height: 100px; /* Set a fixed height for uniform box sizes */
}

.entry-item-medium {
	width: 300px;
}

.entry-icon {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.3em;
}

.entry-icon-medium {
	width: 2.5em;
	height: 2.5em;
	margin-right: 0.3em;
}

.entry-state {
	display: flex;
	line-height: 1.2em;
	font-size: 1.2em;
	align-items: center;
	justify-content: center; /* Centers content within the container */
	font-weight: bold;
}
