{% set today_weather = entities['weather_forecast'][0] %}
    {% set weather_icons = {
        'rainy': 'cloud-rain',
        'sunny': 'sun',
        'partlycloudy': 'sun-cloud',
        'clear-night': 'moon',
        'cloudy': 'cloud',
        'fog': 'smog',
        'hail': 'cloud-hail',
        'lightning': 'cloud-bolt',
        'lightning-rainy': 'cloud-bolt',
        'pouring': 'cloud-showers-heavy',
        'snowy': 'cloud-snow',
        'snowy-rainy': 'cloud-sleet',
        'windy': 'wind',
        'windy-variant': 'wind',
        'exceptional': 'exclamation'
} %}
<div class="weather-display">
    <!-- Today's weather -->

    <div class="weather-today">
        {% set today_icon = weather_icons.get(today_weather['condition'], 'default-icon') %}
        <img src="webfonts/regular.svg?id={{ today_icon }}" class="weather-icon">
        <div class="weather-temperature">{{ today_weather['temperature'] }}°</div>
    </div>

    <!-- Upcoming weather -->
    {% set months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'] %}
    <ul class="upcoming-weather">
        {% for entry in entities['weather_forecast'][1:4] %}
            {% set icon_id = weather_icons.get(entry['condition'], 'default-icon') %}
            {% set day = entry['datetime'][8:10]|int %}
            {% set month = months[entry['datetime'][5:7]|int - 1] %}
            <li class="weather-item forecast-compact">
                <div class="icon-temp-row">
                    <img src="webfonts/regular.svg?id={{ icon_id }}" class="weather-icon-small">
                    <span class="temperature-small">{{ entry['temperature'] }}°</span>
                </div>
                <div class="forecast-date">{{ day }} {{ month }}</div>
            </li>
        {% endfor %}
    </ul>
</div>